:root {
  --text-secondary: #757575;
  --text-tertiary: #A445ED;
}

:root [data-theme='light'] {
  --background: #FFF;
  --text-primary: #2D2D2D;
  --text-accent: #ea5355;
  --button-background: #e5dccf; 
  --button-hover: #ea5355;
  --icon-filter: sepia(44%);
  --icon-hover-filter: invert(31%);
  --journal-icon-filter: invert(100%);
}

:root [data-theme='dark'] {
  --background: #050505;
  --text-primary: #FFF;
  --text-accent: #ea5355;
  --button-background: #e5dccf; 
  --button-hover: #ea5355;
  --icon-filter: sepia(44%);
  --icon-hover-filter: invert(31%);
  --journal-icon-filter: invert(100%);
}

main {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
}

.app {
  max-width: 1440px;
}

h1 {
  font-size: 64px;
}

.part-of-speech {
  margin-top: 42px;
}

.mean {
  color: var(--text-secondary);
  font-size: 24px;
  margin-top: 44px;
}

ul {
  margin-top: 27px;
}

.phonetic, .synonym {
  color: var(--text-tertiary);
}

.source {
  text-decoration: none;
  color: var(--text-secondary);
}