* {
  border: solid red 1px;
}

:root {
  --text-secondary: #757575;
  --text-tertiary: #A445ED;
}

:root [data-theme='light'] {
  --background: #FFF;
  --text-primary: #2D2D2D;
  --search-background: #F4F4F4; 
}

:root [data-theme='dark'] {
  --background: #050505;
  --text-primary: #FFF;
  --search-background: #1F1F1F;
}

main {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app {
 width: 327px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

select:hover {
  cursor: pointer;
}

.toggle:hover {
  cursor: pointer;
}

select {
  border: none;
  background-color: var(--background);
  color: var(--text-primary);
}

.searchbar {
  display: flex;
  
}

input {
  width: 100%;
  background-color: var(--search-background);
  color: var(--text-primary)
}

.submit {
  background-color: var(--search-background);
}

h1 {
  font-size: 64px;
}

.part-of-speech {
  margin-top: 42px;
}

.mean {
  color: var(--text-secondary);
  font-size: 24px;
  margin-top: 44px;
}

ul {
  margin-top: 27px;
  list-style-type: disc;
}

li {
  color: var(--text-tertiary);
}

li span {
  color: var(--text-primary);
}

.phonetic, .synonym {
  color: var(--text-tertiary);
}

.source {
  text-decoration: none;
  color: var(--text-secondary);
}

@media screen and (min-width: 768px) {
  .app {
    width: 688px;
  }
}

@media screen and (min-width: 900px) {
  .app {
    width: 736px;
  }
}