:root {
  --text-secondary: #757575;
  --text-tertiary: #A445ED;
}

:root [data-theme='light'] {
  --background: #FFF;
  --text-primary: #2D2D2D;
  --search-background: #F4F4F4;
  --seperator-color: #E9E9E9;
  --toggle: url('../images/group.svg');
  --toogle-hover: url('../images/group-hover.svg');
}

:root [data-theme='dark'] {
  --background: #050505;
  --text-primary: #FFF;
  --search-background: #1F1F1F;
  --seperator-color: #3A3A3A;
  --toggle: url('../images/group2.svg');
  --toogle-hover: url('../images/group2.svg')
}

main {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app {
 width: 327px;
}

nav {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
}

select:hover {
  cursor: pointer;
}

.nav-seperator {
  margin-left: 16px;
  width: 1px;
  border: solid .5px;
}

.toggle {
  margin-left: 16px;
  background-image: var(--toggle);
  background-repeat: no-repeat;
  width: 82px;
  height: 22px;
}

.toggle:hover {
  background-image: var(--toogle-hover);
  cursor: pointer;
}

select {
  width: 118px;
  border: none;
  background-color: var(--background);
  color: var(--text-primary);
}

.searchbar {
  position: relative;
  margin-top: 24px;
}

input {
  padding-left: 24px;
  width: 100%;
  background-color: var(--search-background);
  color: var(--text-primary);
  height: 64px;
  text-decoration: none;
  border: none;
  border-radius: 16px;
  outline: none;
}

input:focus  {
  border: 1px solid #A445ED;
  outline: 1px solid #A445ED;
}

.search-empty {
  color: red;
  margin-top: 8px;
}

.error-border {
  border: 1px solid red;
}

.submit {
  background-color: var(--search-background);
  text-decoration: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0, -50%);
}

.submit:hover {
  cursor: pointer;
}

.word-container h1{
  font-size: 64px;
}

.top-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-button {
  background-image: url('../images/icon-play.svg');
  width: 75px;
  height: 75px;
  border: none;
  background-color: var(--background);
}

.audio-button:hover {
  background-image: url('../images/play-hover.svg');
  cursor: pointer;
}

.part-of-speech {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.seperator {
  margin-left: 20px;
  border: solid .5px;
  width: 100%;
}

.mean {
  color: var(--text-secondary);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

ul {
  margin-top: 17px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: disc;
}

li {
  margin-top: 13px;
  color: var(--text-tertiary);
}

li span {
  color: var(--text-primary);
}

.phonetic, .synonym {
  color: var(--text-tertiary);
}

.example {
  color: var(--text-secondary);
  font-size: 15px;
  font-weight: 400;
  margin-top: 13px;
}

.synonym-line {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
}

.synonym {
  margin-left: 24px;
  font-weight: 700;
}

.full-seperator {
  margin-left: 0;
  margin-top: 40px;
}

.source-heading {
  margin-top: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.source {
  margin-top: 8px;
  text-decoration: none;
  color: var(--text-secondary);
  display: inline-block;
  margin-bottom: 85px;  
}

.new-window {
  margin-top: 8px;
  display: inline-block;
  margin-left: 9px;
}

.api-error {
  text-align: center;
}

.sad-face {
  margin-top: 132px;
  font-size: 64px;
}

.no-def {
  margin-top: 44px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-primary)
}

.sorry-pal {
  margin-top: 24px;
  padding-left: 18px;
  padding-right: 18px;
  color: var(--text-secondary);
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .app {
    width: 688px;
  }
}

@media screen and (min-width: 900px) {
  .app {
    width: 736px;
  }
}